<?xml version="1.0"?>

<model>
  <name>TransBot(Omni)</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jiapeng.feng</name>
    <email>jiapeng.feng@vkrobot.com</email>
  </author>

  <description>
    TransBot Omni
  </description>
</model>
