<launch>
  <arg name="model" default="$(env TRANSBOT_MODEL)" doc="model type [normal, mecanum, omni, helm]"/>
  <arg name="multi_robot_name" default=""/>
  
  <!-- transbot_teleop_key already has its own built in velocity smoother -->
  <node pkg="transbot_teleop" type="transbot_teleop_key" name="transbot_teleop_keyboard"  output="screen">
  </node>
</launch>
