<launch>
  <arg name="model" default="$(env TRANSBOT_MODEL)" doc="model type [burger, waffle, waffle_pi, transbot]"/>
  <param name="model" value="$(arg model)"/>

  <!-- transbot_teleop_key already has its own built in velocity smoother -->
  <node pkg="transbot_teleop" type="transbot_teleop_key" name="transbot_teleop_keyboard"  output="screen">
  </node>
</launch>
