<launch>
  <arg name="model" default="$(env TRANSBOT_MODEL)" doc="model type [normal, mecanum, omni, helm]"/>

  <param name="transbot_model" value="$(arg model)"/>

  <include file="$(find transbot_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="transbot_fake" type="transbot_fake_node" name="transbot_fake_node" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find transbot_fake)/rviz/transbot_fake.rviz"/>
</launch>
